{% load static %}
<link rel="stylesheet" href="{% static 'people/bootstrap.min.css' %}">
<title>Deléte Pessoa </title>

<div class="container">
    <div class="py-5 text-center">
    </div>
</div>
<!-- gap -->


<div class="jumbotron bg-danger text-white">
    <div class="py-5 text-center ">
        <h1 class="display-3 text-center">{% csrf_token %} BORA DELETÁ MIESMU?</h1>
        <p class="lead">
            <br>
            <form method="post">{% csrf_token %}
                <button type="submit" class="btn btn-outline-warning btn-large text-white">
                    <b>TRASHIIINNNNGGGG "{{ object }}"</b>
                </button>
            </form>
        </p>
        <br>
        <h3>BYE-BYE</h3>
    </div>
</div>