{% load static %}

<link rel="stylesheet" href="{% static 'people/bootstrap.min.css' %}">

<div class="container">
    <div class="py-5 text-center">
        <h1 class="text-success">Criá • Editá</h1>
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary btn-large" value="Criá . Editá" />
        </form>
    </div>
</div>

<!-- <h1>Book Edit</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form> -->